<div class="slimscroll-menu">

     <!--- Sidemenu -->
     <div id="sidebar-menu">

          <ul class="metismenu" id="side-menu">

               <li class="menu-title">Navigation</li>

         
           </ul>
     </div>
</div>