@{
    ViewBag.Title = "Contact";
}


<address>
     Technical University of Moldova<br />
     Chisinau, Moldova<br />
     <abbr title="Phone">P:</abbr>
     022-65-58-65
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>